<div style="height: 10px">&nbsp;</div>
<mat-card class="example-card" style="background-color: #9D9D9D; border-radius: 5px;">
  <mat-card-header>
    <mat-card-title>Login2.0</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <span style="font-size: 9px">{{loginTextHint}}</span><br /><br />
    <form class="example-form" (keydown)="keyDownFunction($event)">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" name="username" [(ngModel)]="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="password" required>
          </mat-form-field></td>
        </tr></table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login2.0</button>
  </mat-card-actions>
</mat-card>
